body {
    font-family: 'Gaegu';
    background-color: #ddb7ac;
    color:#5e503f;
}

.header {
    font-size: 80px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 0px;
    padding-top: 0px;
}

.timer {
    text-align: center;
    font-size: 100px;
    color: #ffffff;
    padding: 50px;
}

.start_timer {
    font-size: 100px;
    font-family: 'Gaegu';
    width: 400px;
    height: 400px;
    /* padding: 10px; */
    /* margin-top: 80px; */
    margin: auto;
    border: dotted #cfb5a1;
    border-radius: 200px;
    color:#cb7373;
    background-color: #fbeee4;
}

.stop_timer {
    font-size: 100px;
    font-family: 'Gaegu';
    width: 400px;
    height: 400px;
    /* padding: 10px; */
    /* margin-top: 80px; */
    margin: auto;
    border: dotted #cfb5a1;
    border-radius: 200px;
    color:#cb7373;
    background-color: #8b0000;
}

.countdown_clock {
    width: 400px;
    height: 400px;
    font-size: 100px;
    font-weight: 900;
    font-family: 'Gaegu';
    /* text-align: center; */
    margin: auto;
    border: dotted #ffffff;
    color: #ffffff;
    background-color: #ddb7ac;
    border-radius: 200px;
}


/* fonts */
.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  